<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.polydev.public_transport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:name=".App"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".screens.authorization.AuthorizationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AuthorizationScreen"/>

        <activity
            android:name=".screens.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.QrCodeScanner"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.finish.FinishActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".utils.Splash"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/AppTheme.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="MapService"
            android:exported="false">
            <intent-filter>
                <action android:name="io.polydev.public_transport.map_intent">
                </action>
            </intent-filter>
        </service>
        <service android:name=".services.SocketService" />

        <meta-data android:name="com.here.android.maps.appid"
            android:value=""/>
        <meta-data android:name="com.here.android.maps.apptoken"
            android:value=""/>
        <meta-data android:name="com.here.android.maps.license.key"
            android:value=""/>
    </application>

</manifest>